---
layout: default
---
<div id="welcomeHeader">
	<section>
		<div id="welcomeHeaderContainer">
			<div>
				<h1>Tervetuloa <b> </b><br/>hyvän ruoan ja ruokakulttuurin parissa.</h1>
				<h2>Maukkaita juttuja on jo {{ site.posts | size }} ja niitä tulee lisää kokoajan joten pysy mukana menossa.</h2>
			</div>
		</div>
	</section>
</div>

<section>
	<div id="newestPostContainer" class="contentBlock">
	{% for post in site.categories['nosto'] limit:1 %}
	<div id="newestPost">
		<div id="newestPostImage" style="background: url('{{ post.bigthumbnail }}')no-repeat;">
			<div id="detailsPost">
				<h3>{{post.type}}</h3>
				<p>{{ post.date | date: "%d.%m.%Y" }}</p>
			</div>
		</div>
		<div id="newestPostArticle">
			<div id="titleOfPost">
				<h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
			</div>
			{% include shares.html %}
			<div id="teaserOfPost">
				<p>{{post.teaser}}</p>
			</div>
		</div>
	</div>
	{% endfor %}
	<div id="postSidebar">
		{% for post in site.categories['nosto'] limit:6 offset:1  %}
			<a href="{{ post.url | prepend: site.baseurl }}">
			<div class="recentPostCotainer">
				<div class="recentPostImage">
					<img src="{{ post.smallthumbnail }}" />
				</div>
				<div class="recentPostContent">
					<h1>{{ post.title | truncate: 40  }}</h1>
					<p class="date">{{ post.date | date: "%d.%m.%Y" }}</p>
					<p class="teaser">{{post.teaser | truncate: 65 }}</p>
				</div>
			</div>
			</a>
		{% endfor %}
	</div>
</div>
</section>

<section>
	{% for post in site.categories.videot limit:1  %}
	<div id="cookingVideoPost" class="contentBlock">
		<iframe width="100%" height="500px" src="{{post.youtubelink}}" frameborder="0" allowfullscreen></iframe>
		<div id="cookingVideoPostContainer">
			<h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
			{% include shares.html %}
			<p>{{post.teaser}} </p>
		</div>
	</div>
	{% endfor %}
</section>

<div class="sponsorsBg">
	<section>
	<div class="scroller">
		<div class="scroller-content" id="bx-pager">
		{% for yhteistyo in site.yhteistyot %}
			<a class="item" data-slide-index="{{ forloop.index0 }}" href="">
				<h2>{{yhteistyo.sliderlinkname}} </h2>
			</a>
		{% endfor %}
		</div>
	</div>
	</section>
	<div class="sponsors">
		<ul class="bxslider">
			{% for yhteistyo in site.yhteistyot %}
		  	<li style="background: url({{ yhteistyo.image_path }}) no-repeat; background-size: cover; background-position: center center;">
		  		<section>
				<h1>{{ yhteistyo.title }}</h1>
				<p>{{ yhteistyo.content }}</p>
				<button><a href="/avainsanat/{{yhteistyo.sliderlinkname}}">Lue yhteistyö artikkelit</a></button>
				</section>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div id="sponsorLinks">
		<section>
		<div id="sponsorLinksContent">
			<!--h2 class="sectionHeader"><a href="/yhteistyoreseptit">Kaikki yhteistyö artikkelit</a></h2-->
			<h2 class="sectionHeader"><a href="#contact">Kiinnostaako yhteistyö?</a></h2>
		</div>
		</section>
	</div>
</div>

<section>	
	<div id="categoryPosts" class="contentBlock">
		<div class="categoryItem">
			<h1>Alkupalat</h1>
			<a href="/tag/alkupalat"><h4>Lue kaikki</h4></a>
			<div class="categoryItemContent">
				{% for post in site.categories.alkupalat limit:1  %}
					<a href="{{ post.url | prepend: site.baseurl }}">
					<div class="categoryItemContentImage">
						<img src="{{ post.gategorythumbnail }}" />
					</div>
					<h2>{{ post.title }}</h2>
					<p class="date">{{ post.date | date: "%d.%m.%Y" }}</p>
					<p class="teaser">{{post.teaser | truncate: 200 }}</p>
					</a>
				{% endfor %}
			</div>
		</div>
		<div class="categoryItem">
			<h1>Leivonnaiset</h1>
			<a href="/tag/leivonnaiset"><h4>Lue kaikki</h4></a>
			<div class="categoryItemContent">
				{% for post in site.categories.leivonnaiset limit:1  %}
					<a href="{{ post.url | prepend: site.baseurl }}">
					<div class="categoryItemContentImage">
						<img src="{{ post.gategorythumbnail }}" />
					</div>
					<h2>{{ post.title }}</h2>
					<p class="date">{{ post.date | date: "%d.%m.%Y" }}</p>
					<p class="teaser">{{post.teaser | truncate: 200 }}</p>
					</a>
				{% endfor %}
			</div>
		</div>
		<div class="categoryItem">
			<h1>Salaatit</h1>
			<a href="/tag/salaatit"><h4>Lue kaikki</h4></a>
			<div class="categoryItemContent">
				{% for post in site.categories.salaatit limit:1  %}
					<a href="{{ post.url | prepend: site.baseurl }}">
					<div class="categoryItemContentImage">
						<img src="{{ post.gategorythumbnail }}" />
					</div>
					<h2>{{ post.title }}</h2>
					<p class="date">{{ post.date | date: "%d.%m.%Y" }}</p>
					<p class="teaser">{{post.teaser | truncate: 200 }}</p>
					</a>
				{% endfor %}
			</div>
		</div>
		<div class="categoryItem">
			<h1>Keitot & Padat</h1>
			<a href="/tag/keitot"><h4>Lue kaikki</h4></a>
			<div class="categoryItemContent">
				{% for post in site.categories.keitot limit:1  %}
					<a href="{{ post.url | prepend: site.baseurl }}">
					<div class="categoryItemContentImage">
						<img src="{{ post.gategorythumbnail }}" />
					</div>
					<h2>{{ post.title }}</h2>
					<p class="date">{{ post.date | date: "%d.%m.%Y" }}</p>
					<p class="teaser">{{post.teaser | truncate: 200 }}</p>
					</a>
				{% endfor %}
			</div>
		</div>
		<div class="categoryItem">
			<h1>Ruokaisat</h1>
			<a href="/tag/paaruoat"><h4>Lue kaikki</h4></a>
			<div class="categoryItemContent">
				{% for post in site.categories.ruokaisat limit:1  %}
					<a href="{{ post.url | prepend: site.baseurl }}">
					<div class="categoryItemContentImage">
						<img src="{{ post.gategorythumbnail }}" />
					</div>
					<h2>{{ post.title }}</h2>
					<p class="date">{{ post.date | date: "%d.%m.%Y" }}</p>
					<p class="teaser">{{post.teaser | truncate: 200 }}</p>
					</a>
				{% endfor %}
			</div>
		</div>
		<div class="categoryItem">
			<h1>Jälkiruoat</h1>
			<a href="/tag/jalkiruoat"><h4>Lue kaikki</h4></a>
			<div class="categoryItemContent">
				{% for post in site.categories.jalkiruoat limit:1  %}
					<a href="{{ post.url | prepend: site.baseurl }}">
					<div class="categoryItemContentImage">
						<img src="{{ post.gategorythumbnail }}" />
					</div>
					<h2>{{ post.title }}</h2>
					<p class="date">{{ post.date | date: "%d.%m.%Y" }}</p>
					<p class="teaser">{{post.teaser | truncate: 200 }}</p>
					</a>
				{% endfor %}
			</div>
		</div>
		<div class="categoryItem">
			<h1>Muut</h1>
			<a href="/tag/muut"><h4>Lue kaikki</h4></a>
			<div class="categoryItemContent">
				{% for post in site.categories.muut limit:1  %}
					<a href="{{ post.url | prepend: site.baseurl }}">
					<div class="categoryItemContentImage">
						<img src="{{ post.gategorythumbnail }}" />
					</div>
					<h2>{{ post.title }}</h2>
					<p class="date">{{ post.date | date: "%d.%m.%Y" }}</p>
					<p class="teaser">{{post.teaser | truncate: 200 }}</p>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<section>
	<div class="socialBoard">
		<div class="socialContainer"></div>
	</div>
</section>