<div id="footer">
<section>
	<footer>
		<div id="contact">
			<h4>Ota yhteyttä</h4>
			<form action="#" id="ajax-form">
		      <label>Nimi</label>
		      <input type="text" name="name">
		      <label>Sähköposti</label>
		      <input type="text" name="email">
			  <label> Message</label>
		      <textarea name="message"></textarea>
		      <input type="submit" value="Submit through Ajax!">
		    </form>
		</div>
	</footer>
</section> 
</div>
<div id="scroll-up">
	<a href="#home"><i class=""></i>Ylös</a>
</div>
<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/sharer.js/latest/sharer.min.js"></script>
<script src="{{ "/js/search.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/scotchPanels.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.offcanvas.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap-notify.min.js" | prepend: site.baseurl }}"></script>
<script src="http://cdn.imnjb.me/libs/instafeed.js/1.3.2/instafeed.min.js"></script>
<script src="../bower_components/codebird-js/codebird.js"></script>
<!-- doT.js for rendering templates -->
<script src="../bower_components/doT/doT.min.js"></script>
<!-- Moment.js for showing "time ago" and/or "date"-->
<script src="../bower_components/moment/min/moment.min.js"></script>
<!-- Moment Locale to format the date to your language (eg. italian lang)-->
<script src="../bower_components/moment/locale/it.js"></script>
<!-- Social-feed js -->
<script src="../bower_components/social-feed/js/jquery.socialfeed.js"></script>

<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
