<div id="footer">
<section>
	<footer>
		<div id="siteInfo">
			<h4>Maukasta.fi</h4>
			<div id="siteInfoContainer">
				<div id="Footerlogo">
					<a href="/"><span></span></a>
				</div>
				<ul>
					<li><a  href="mailto:info.maukasta@gmail.com?Subject=Yhteydenotto" target="_top">info@maukasta.fi</a></li>
					<li>Espoo, 02150</li>
					<li>Puh: +358 503744721</li>
					<li>© 2016 Maukasta.fi ruokablogi</li>
				</ul>
			</div>
		</div>
		<div id="contact">
			<h4>Ota yhteyttä</h4>
			<form action="#" id="ajax-form">
		      <label>Nimi</label>
		      <input type="text" name="name">
		      <label>Sähköposti</label>
		      <input type="text" name="email">
			  <label> Message</label>
		      <textarea name="message"></textarea>
		      <input class="button" type="submit" value="Lähetä">
		    </form>
		</div>
	</footer>
</section> 
</div>
<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/sharer.js/latest/sharer.min.js"></script>
<script src="{{ "/js/search.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/scotchPanels.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.offcanvas.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap-notify.min.js" | prepend: site.baseurl }}"></script>
<script src="http://cdn.imnjb.me/libs/instafeed.js/1.3.2/instafeed.min.js"></script>
<script src="{{"/bower_components/codebird-js/codebird.js" | prepend: site.baseurl }}"></script>
<script src="{{"/bower_components/doT/doT.min.js" | prepend: site.baseurl }}"></script>
<script src="{{"/bower_components/moment/min/moment.min.js" | prepend: site.baseurl }}"></script>
<script src="{{"/bower_components/moment/locale/fi.js" | prepend: site.baseurl }}"></script>
<script src="{{"/bower_components/social-feed/js/jquery.socialfeed.js" | prepend: site.baseurl }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/vendor/jquery.easing.1.3.js"></script>
<!--script src="{{ "/js/bodymovin.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/data.js" | prepend: site.baseurl }}"></script-->
<script src="{{ "/js/typed.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
