<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta property="og:url"  content="{{ site.url }}/{{ post.url }}" />
  {% if page.title %}
  	<meta property="og:title"  content="{{ page.title }}" />
  {% else %}
  	<meta property="og:title"  content="{{ site.title }}" />
  {% endif %}
 
  {% if page.teaser %}
  	<meta property="og:description" content="{{ page.teaser }}" />
  {% else %}
  	<meta property="og:description" content="{{ site.description }}" />
  {% endif %}
 
  <meta property="og:site_name" content="{{ site.sitename }}" />
 
  {% if page.facebookshare  %}
 	 <meta property="og:image" content="{{ site.url }}{{ page.facebookshare }}" />
  {% else %}
 	 <meta property="og:image" content="{{ site.url }}/images/main.jpg" >
  {% endif %}
  
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="fi_FI" />

  
  <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
  
  
  <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>  
 
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
 
  <script id="dsq-count-scr" src="//maukastafi.disqus.com/count.js" async></script>
</head>