//Blog Post View
.blogFeedWrapper{
	@include span-columns(8);
	position: relative;
	align-items: stretch;
	display: flex;
	flex-direction: column;
	background: white;
	@include media($tablet) {
		@include span-columns(12);
		margin-bottom: 20px;
	}
	.blogFeedContainer{
		position: relative;
		.blogFeedContentImage{
			position: relative;
			.blogFeedContentType{
				position: absolute;
				padding: 20px;
				left: 0;
				bottom: 0;
				background: rgba(255,255,255,0.7);
				.blogFeedContentTypeItem{
					h4{
						color: $darkCopy;
					}
					h5{
						color: $lightCopy;
					}
				}
			}
			img{
				width: 100%;
			}
		}
		.blogFeedArticle{
			position: relative;
			z-index: 20;
			padding: 10px;
			section{
				padding: 0;
				p{
					color: $darkCopy;
				}
			}
		}
	}
}