#newestPostContainer{
	display: flex;
	min-height: 100%;
	color: $darkCopy;
	flex-direction: column;
	@include media($tablet) {
		flex-direction: column;
	}
	#newestPost{
		position: relative;
		align-items: stretch;
		@include span-columns(12);
		display: flex;
		flex-direction: column;
		background: white;
		@include media($tablet) {
			@include span-columns(12);
			margin-bottom: 20px;
		}
		#newestPostImage{
			position: relative;
			display: flex; 
			justify-content: center; 
			align-content: center; 
			align-items: center;
			min-height: 415px; 
			background-size: cover!important; 
			background-position: center center!important; 
			@include media($tablet) {
				min-height: 200px;
			}
			&:after{
				position: absolute;
				width: 100%;
				height: 100%;
				content: '';
				top:0;
				left: 0;
			}
			#detailsPost{
				position: absolute;
				bottom: 0;
				left: 0;
				padding: 20px;
				background: rgba(255, 255, 255, 0.70);
				h3{

				}
				p{

				}
			}
			#typeOfPost{
				h3{
					position: relative;
					width: 30%;
					display: inline-block;
					margin-top: 0;
					margin-bottom: 0;
					text-transform: uppercase;
					color: $darkCopy;
					opacity: 0.9;
					padding-bottom: 10px;
					&:after{
						position: absolute;
						content: '';
						width: 100%;
						height: 100%;
						top: 0;
						left:0;
						border-bottom: solid 1px white;
						opacity: 0.9;
					}
				}
			}
		}
		#newestPostArticle{
			position: relative;
			z-index: 30;
			margin: 10px 0px;
			padding: 0 20px;
			@include media($tablet) {
				padding: 0 10px;	
			}
			#titleOfPost{
				h1{
					
				}
			}
			#teaserOfPost{
				p{
					color: $darkCopy;
				}
			}	  
		}
	}
	#newestPostGrid{
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;
		justify-content: flex-start;
		position: relative;
		height: 100%;
		min-height:100%;
		@include media($tablet) {
			@include span-columns(12);	
		}
		.newestPostGridItem{
			flex: 1 0 25%;
			margin-bottom: 20px;
			margin-left: 0.7em;
			margin-right: 0.7em;
			&:first-child{
				margin: 0em;	
			}
			&:last-child{
				margin: 0em;	
			}
		}
		a{
			text-decoration: none;
		}
	}
}


.recentPostCotainer{
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	margin-bottom: 10px;
	.recentPostImage{
		flex: 1;	
		flex: initial;
		max-width: 100%;
		height: 180px;
		overflow: hidden;
		overflow:hidden;
		@include media($tablet) {
			max-width: 100%;
		}
		img{
			width: 100%; 
      	}
	}
	.recentPostContent{	
		flex: 2;
		padding: 10px 0px;
		h1{
			color: $brandColor;
			a{
				color: $brandColor;
				text-decoration: none;
			}	
			
		}
		p{
			margin-top: 0;
			&.date{
				color: $lightCopy;
				margin: 5px 0px;
			}
			&.teaser{
				color: $darkCopy;
			}
		}
	}
}

#cookingVideoPost{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	color: $darkCopy;
	background: white;
	#cookingVideoPostContainer{
		padding: 0 10px;	
		margin: 10px 0px;
	}
	iframe{
		@include media($tablet) {
			height: 50%;
		}
	}

	p{
		width: 80%;
		margin-bottom: 20px;
	}
}

#categoryPosts{
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	justify-content: space-between;
	.categoryItem{
		flex: 1;
		flex-basis: 23%;
		background: white;
		@include media($tablet) {
			flex-basis: 50%;	
		}
		@include media($mobileM) {
			flex-basis: 100%;
		}
		padding: 0px 10px;
		margin-bottom: 20px;
		margin-left: 0.2em;
		margin-right: 0.2em;
		h3{
			margin-top: 10px;
			word-break: break-all; 
			color: $darkCopy;
		}
		h5{
			margin-top: 	5px;
			margin-bottom: 	10px;
			&.date{
				color: $lightCopy;
			}
		}
		.categoryItemContent{
			display: flex;
			flex-direction: column;
			padding-bottom: 20px;
			.categoryItemContentImage{
				height: 80%;
				overflow: hidden;	
			}
			img{
				width: 100%;
				@include media($tablet) {
					height: 50%;
				}
			}
			h2{
				margin-top: 10px;
				margin-bottom: 5px;
				font-size: 1rem;
				@include media($mobileL) {
					font-size: 0.9rem;
				}
				@include media($laptop) {
					font-size: 1rem;	
				}
			}
			p{
				margin-top: 0;
				&.teaser{
					color: $darkCopy;
				}
			}
		}
	}
}