#pageNav{
	padding: 10px;
	background: #FBF9F0;
	border-bottom: solid 5px $brandColor;
	section{
		padding: 0px;
	}
	#navContainer{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-direction: row;
		min-height: 58px;
	}
	#logo{
		flex: 1;
		text-align: center;
		span{
			width: 34px;
			height: 30px;
			display: inline-block;
			margin: 0 auto;
			background: url('../../images/maukasta-nav-logo.svg') no-repeat;
			background-position: center center;
		}
	}
	#textLogo{
		flex: 6;
		text-align: center;
		@include media($mobile) {
			flex: 3;
		}
		span{
			width: 104px;
			height: 22px;
			display: inline-block;
			margin: 0 auto;
			background: url('../../images/maukasta-text-logo.svg') no-repeat;
			background-position: center center;
		}
	}
	#searchButton{
		flex: 1;
		text-align: center;
		span{
			width: 27px;
			height: 27px;
			display: inline-block;
			margin: 0 auto;
			background: url('../../images/icons/search-button-nav.svg') no-repeat;
			background-position: center center;
		}
	}
}

#searchFilters{
	padding: 10px 50px 10px 10px;
	background: #FBF9F0;
	border-bottom: solid 5px $brandColor;
	section{
		padding: 0px;
	}
	#searchFiltersContainer{
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		align-content: center;
		#backButton{
			flex: 1;
			cursor: pointer;
			@include media($mobile) {
				flex: 2;
			}
			span{
				width: 17px;
				height: 15px;
				display: inline-block;
				margin: 0 auto;
				margin-left: 10px;
				background: url('../../images/icons/back-arrow.svg') no-repeat;
				background-position: center center;
			}
		}
		#inputs{
			flex: 11;
			.navInputs{
				margin-bottom: 5px;
				form{
					width: 100%;
				}
				input{
					width: 100%;
					border: none;
					border-bottom: solid 1px white; 
					padding-left: 10px;
					margin-bottom: 0px;
					line-height: 50px;
					background: none;
					@extend.montserrat;
					color: #929292;
				}
				select{
					width: 100%;
					border: none;
				    box-shadow: none;
				    background-color: transparent;
				    background-image: none;
				    appearance: none;
				    @extend.montserrat;
					color: #929292;
				}
			}
			#searchInput{
				display: flex;
				align-items: center;
				align-self: center;
				span{
					width: 20px;
					height: 17px;
					display: inline-block;
					margin: 0 auto;
					margin-right: 10px;
					background: url('../../images/icons/search-input-icon.svg') no-repeat;
					background-position: center center;
				}
			}
			#filterInput{
				display: flex;
				align-items: center;
				align-self: center;
				span{
					width: 18px;
					height: 15px;
					display: inline-block;
					margin: 0 auto;
					margin-right: 10px;
					background: url('../../images/icons/tag-input-icon.svg') no-repeat;
					background-position: center center;
				}
			}
		}
	}
}

#brandNav{
	section{
		padding: 0px 20px;
	}
	background: $brandColor;
	border-bottom: solid 5px #a83612;
	#brandNavContent{
		display: flex;	
		align-content: center;
		align-items: center;
		padding-bottom: 4px;
		@include media($tablet) {
			flex-direction: column;
		}
		#primaryBrandArea{
			color: white;
			@include span-columns(8);
			@include media($tablet) {
				@include span-columns(12);	
			}
			h2{
				@extend.lato-bold;
				color: $beige;
				margin:0px;
				margin-left: 10px;
				@include media($tablet) {
					display: none;
				}
			}	
		}
		#secondaryBrandArea{
			@include span-columns(4);
			@include media($tablet) {
				@include span-columns(12);	
			}
			#secondaryBrandAreaContent{
				display: flex;	
				align-content: stretch;
				
			}
			#newsletterOrder{
				flex: 1;
				input{
					width: 100%;
					height: 30px;
					border: none;
					padding: 10px;
					font-size: 12px;
					background: $brandColor;
					color: white;
					@include placeholder {
					    color: white;
					}					
				}
			}
			#socialmediaLinks{
				display: flex;
				align-items: center;
			}
			#social-buttons{
				display: flex;
				justify-content: center;
				.social-buttons-links{
					display: flex;
					align-items: stretch;
					height: 30px;
					padding: 5px;
				    line-height: 40px;
				    text-align: center;
				    background: #cb4b1e;
				    font-size: 20px;
				    cursor: pointer;
				    color: white;
				    text-transform: uppercase;
				    transition: all 0.15s ease-out;
				    &:hover{
					background: #993413;
				    }
				}
				#facebookIcon{
					span{
						width: 20px;
						height: 20px;
						background: url('../../images/icons/socials/facebook-icon.svg') no-repeat;
						background-position: center center;
						background-size: cover;
					}
				}
				#twitterIcon{
					span{
						width: 20px;
						height: 20px;
						background: url('../../images/icons/socials/twitter-icon.svg') no-repeat;
						background-position: center center;
						background-size: cover;
					}
				}
				#pinterestIcon{
					span{
						width: 20px;
						height: 20px;
						background: url('../../images/icons/socials/pinterest-icon.svg') no-repeat;
						background-position: center center;
						background-size: cover;
					}
				}
				#instagramIcon{
					span{
						width: 20px;
						height: 20px;
						background: url('../../images/icons/socials/instagram-icon.svg') no-repeat;
						background-position: center center;
						background-size: cover;
					}
				}
				#feedburnerIcon{
					span{
						width: 20px;
						height: 20px;
						background: url('../../images/icons/socials/rss-icon.svg') no-repeat;
						background-position: center center;
						background-size: cover;
					}
				}
			}
		}
	}
}