.postHeadContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-height: 550px;
	@include media($tablet) {
		min-height: 300px;
	}
	.postHeading{
		text-align: center;
		h1{
			margin-top: 20px;
			margin-bottom: 0px;
			color: white;
			text-shadow: 0px 2px 3px rgba(9,10,10,0.50);
			@include media($tablet) {
				font-size: 2rem;
			}
		}
		h4{
			margin-top: 0px;
			margin-bottom: 20px;
			color: white;
			text-shadow: 0px 2px 3px rgba(9,10,10,0.50);
		}
	}
}

.blogContainer{
	position: relative;
	margin: 20px 0px 0px 0px;
	#miniblog{
		section{
			padding: 10px;
			.postArticleInfo{
			width: 600px;
			}
		}		
	}
	.blogContent{
		display: flex;
		flex-direction: column;
		justify-content: center;
		.teaser{
			padding-bottom: 0!important;
			p{
	    font-size: 23px;
			line-height: 35px;
			letter-spacing: -.8px;
			@include CircularStd-Book;
			}
		}
		section{
			p{
				margin: 0;
				padding: 10px;
				max-width: 600px;
				display: block;
				margin: 0 auto;
				font-size: 18px;
				line-height: 28px;
				letter-spacing: -.02em;
				color: $darkCopy;
				@include media($tablet) {
					line-height: 28px;
					font-size: 1rem;
				}
				a{
					color: $brandColor;
				}
			}
		}
	}
}

.postContainer{
	position: relative;
	color: $darkCopy;
	.postContent{
		display: flex;
		flex-direction: column;
		padding: 10px;
		transform-style: preserve-3d;
		h2{
			color: $darkCopy;
			font-size: 4rem;
			@include media($tablet) {
			font-size: 2rem;	
			}
		}
		img{
			width: 100%;
		}
		.postContentHeader{
			img{
				height: 50%;
			}
			.info{
				display: flex;
				justify-content: space-between;
				align-items: center;
				align-content: center;
				margin-top: 10px;
				margin-bottom: 10px;
				padding: 5px 0px;
				background: $brandColor;
				.infoItem{
					display: flex;
					flex-direction: column;
					align-items: center;
					align-content: center;
					flex: 1;
					border-right: solid 1px white;
					color: white;
					&:first-child{
						border-left: none;	
					}
					&:last-child{
						border-right: none;	
					}
				}
			
			}
		}
		.postBlogContent{
			position: relative;
			display: flex;
			@include media($tablet) {
				flex-direction: column;
			}
		}	
		h3{
			margin-top: 10px;
			margin-bottom: 20px;
		}
		.ingredients{
			padding-right: 20px;
			@include media($tablet) {
				order: 1;
			}
			ul{
				margin: 0;
				padding: 0;
				list-style: none;
				li{
					margin-bottom: 15px;
					p{
					}
				}
			}
		}
		.recipe{
			flex: 2;
			@include media($tablet) {
				order: 2;
			}
			.postImages{
				display: flex;
				margin: 10px 0px;
			}
			.postImagesItem{
				width: 100%;
			}
			p{
				max-width: 600px;
				display: block;
				font-size: 18px;
				line-height: 28px;
				letter-spacing: -.02em;
				color: $darkCopy;
				@include media($tablet) {
					line-height: 28px;
					font-size: 1rem;
				}
				a{
					color: $brandColor;
				}
			}
		}
		.offcanvas-main-inactive{
			.recipe{
				p{
					max-width: 600px;
				}
			}
		}
	}
}

#disqus_thread{
	display: block;
	margin: 20px 0px;
	padding: 0px 20px;
}

.postBottom{
	display: block;
	margin: 20px 0px;
	padding: 0px 20px;
}