@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #ddd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import"normalize";

@import "bourbon/bourbon";
@import "neat/neat";
@import "normalize";

$mobile: new-breakpoint(max-width 30em);
$mobileM: new-breakpoint(max-width 375px);
$mobileL: new-breakpoint(max-width 425px);
$tablet: new-breakpoint(max-width 48em);
$laptop: new-breakpoint(max-width 1024px);


$brandColor:		#cb4b1e;
$brandColorDark:	#a83612;
$beige:				#FBF9F0;
$darkCopy:			#3b3b3b;

.ptserif-normal{
	font-family: 'PT Serif', serif;
	font-weight: 400;
}

.ptserif-bold{
	font-family: 'PT Serif', serif;
	font-weight: 700;
}

.lato-normal{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.lato-bold{
	font-family: 'Lato', sans-serif;
	font-weight: 700!important;
}

.montserrat{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.bree{
	font-family: 'Bree Serif', serif;
	font-weight: 400;
}


.devtest{
	border: solid 1px black;
}

section{
	@include outer-container;
	padding: 20px 10px;
}

*{
	-webkit-font-smoothing: antialiased;
}

body{
	background: $beige;
	transform-style: preserve-3d;
}

a{
	text-decoration: none;
}

*:focus {
    outline: none;
}

h1,h2,h3,h4,h5,h6{
	word-break: break-word;
}

h1.sectionHeader{
	margin-top: 10px;
	margin-bottom: 10px;
	@extend.lato-normal;
	font-size: 1.3rem;
	font-weight: bold;
	color: #b4ab9d;
	@include media($tablet) {
		font-size: 1.8rem;	
	}
}

h2.sectionHeader{
	margin-top: 0px;
	margin-bottom: 10px;
	@extend.montserrat;
	font-size: 1rem;
	font-weight: bold;
	color: $darkCopy;
	a{
		color: $brandColor;
	}
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


#welcomeHeader{
	min-height: 250px;
	background: url(../images/bg/bbg-nyhtopossua-1024x682.jpg) no-repeat;
	background-size: 100%;
	background-position: center center;
	background-size: cover;
	@include media($tablet) {
		min-height: 150px;
	}
	#welcomeHeaderContainer{
		display: flex;
		justify-content: center;
		align-content: center;	
		align-items: center;
		min-height: 250px;
		text-align: center;
		@include media($tablet) {
			min-height: 150px;
		}
		h1{
			margin-top: 0;
			margin-bottom: 15px;
			@extend.bree;
			font-size: 3rem;
			line-height: 48px;
			font-weight: normal;
			color: white;
			text-shadow: 0px 2px 3px rgba(9,10,10,0.50);
			@include media($tablet) {
				font-size: 1.3rem;	
				line-height: 22px;
			}
		}
		h2{
			width: 60%;
			margin: 0 auto;
			margin-top: 0;
			margin-bottom: 0;
			@extend.lato-bold;
			font-size: 1.2rem;
			font-weight: normal;
			color: white;
			word-break: break-word;
			text-shadow: 0px 2px 3px rgba(9,10,10,0.50);
			@include media($tablet) {
				width: 80%;
				font-size: 0.9rem;
			}
		}
	}
}

.fullwidth{
	img{
		width: 100%;
		height: 100%;
	}
}

.halfwidth{
	display: flex;
	img{
		flex: 1;
		width: 50%;
		height: 100%;
	}
}

button{
	background: $brandColor;
	border: none;
	padding: 10px;
	color: white;
	@extend.montserrat;
	
	text-transform: uppercase;
}

.scotch-panel-wrapper{
	transform-style: preserve-3d;
}

form{
	label{
		display: block;
		width: 100%;
		margin: 5px 0px;
		color: $darkCopy;
		@extend.lato-normal;
	}
	input{
		width: 100%;
		margin: 5px 0px;
		padding: 5px 10px;
		border: none;
		line-height: 30px;
		color: $darkCopy;
		@extend.lato-normal;
	}
	textarea{
		width: 100%;
		height: 120px;
		margin: 5px 0px;
		padding: 5px 10px;
		border: none;
	}
	.button{
		background: $brandColor;
		color: white;
	}
}

[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}

.notifyBox{
	width: 100%;
	background: $brandColor;
	color: white;
	padding: 10px 10px;
	left: 0;
	top: 0;
	margin: 0;
	text-align: center;
	button{
		border-radius: 20px;
		padding: 5px 10px;
	}
	h4{
		margin-top: 0;
		margin-bottom: 5px;
		color: white;
		@extend.montserrat;
	}
	p{
		@extend.lato-normal;
		margin-top: 0;
		margin-bottom: 5px;
	}
}

.socialContainer {
    margin: 0;
    padding: 0;
    column-gap: 1em;
    font-size: .85em;
	column-count: 4;  
   	@include media($tablet) {
	   	column-count: 2;   
	}   
}

.socialFeedItem {
    display: inline-block;
    background: #fff;
    padding: 10px;
    margin: 5px 0px;
    width: 100%;
    box-sizing: border-box;
    .socialFeedHeader{
	    display: flex;
	    align-content: center;
	    align-items: center;
	    .socialFeedHeaderMedia{
		    span{
			    width: 20px;
				height: 20px;
				display: block;
				&.mediaIconinstagram{
					background: url('../../images/icons/socials/instagram-icon-color.svg') no-repeat;
					background-size: auto 100%;
					background-position: center center;	
				}
				&.mediaIcontwitter{
					background: url('../../images/icons/socials/twitter-icon-color.svg') no-repeat;
					background-size: auto 100%;
					background-position: center center;	
				}
		    }
	    }
	    .socialFeedHeaderName{
		    flex: 1;
		    padding-left: 10px;
		    a{
			    color: $brandColor;
		    }
		    h2{
			    margin-top: 0;
			    margin-bottom: 0;
			    font-size: 0.9rem;
			    @extend.montserrat;
		    }
		    p{
			   	margin-top: 2px;
			    margin-bottom: 0;
			    font-size: 0.6rem;
			    @extend.lato-normal;
			    color: $darkCopy;
		    }
	    }
	    .socialFeedHeaderProfile{
		    a{
				display: block;
				width: 30px;
				height: 30px; 
				overflow: hidden;
			   	border-radius: 100px;
		    }
		    img{
			    width: 30px;
			    height: 30px;
		    }
	    }
    }
    img{
	    width: 100%;
    }
    .socialFeedContent{
	    p{
		    color: $darkCopy;
			font-size: 0.8rem;
			@extend.montserrat; 
			word-break: break-all; 
			a{
				color: $brandColor;	
				word-break: break-all;
			}
	    }
    }
}

.contentBlockWhite{
	padding: 20px 20px;
	background: white;
}

.contentBlockTrasparent{
	padding: 20px 20px;
}

/* scroller */
.scroller{
	width:100%;
	height: 100px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin: 10px 0px;
}
.scroller-content{
	position: absolute;
	height: 100px;
	white-space: nowrap;
	word-spacing: 0;
	z-index:3;
	transform: translateZ(0px);
	.item{
		min-width: 160px;
		display:inline-block;
		overflow: hidden;
		position: relative;
		font-size:0;
		backface-visibility:hidden;
		transform: translateZ(0px);
		position: relative;
		cursor:pointer;
		text-align: center;
		font-size: 24px;
		h2{
			margin-top: 0;
			margin-bottom: 0;	
		}
	}
	span{
	  color:#666666;
	  font-size: 16px;
	}
}

.sponsorsBg{
	position: relative;
	width: 100%;
	background: $brandColor;
	color: white;
	section{
		padding: 5px 10px;
	}
	.scroller{
		height: 40px;
		margin: 0px;
	}
	.scroller-content{
		height: 40px;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		.item{
			text-align: left;
			min-width: 0px;
			padding-right: 10px;
			h2{
				display: inline-block;
				padding-bottom: 5px;
				@extend.lato-normal;
				font-size: 1rem;	
				color: white;
				border-bottom: solid 2px rgba(255, 255, 255, 0);
			}
		}
		.active{
			h2{
				border-bottom: solid 2px white;
			}
		}
	}
	#sponsorLinks{
		
		#sponsorLinksContent{
			display: flex;
			padding: 0 10px;
			justify-content: space-between;	
			align-content: center;
			align-items: center;
		}
	}
	.sectionHeader{
		margin-top: 10px;
		font-size: 0.8rem;
		font-weight: normal;
		a{
			color: white;
			padding-bottom: 2px;
			&:hover{
				border-bottom: solid 2px white;
			}
		}	
	}
	.sponsors{
		position: relative;
		z-index: 10;
		p{
			max-width: 600px;
			@extend.lato-bold;
		}
		ul{
			margin: 0;
			padding: 0;
			li{
				display: flex!important;
				align-content: flex-start;
				align-items: center;
				min-height: 400px;
				h1{
					@extend.montserrat;
					font-weight: bold;
					font-size: 3rem;
					margin-bottom: 5px;
					text-shadow: 0px 2px 3px rgba(9,10,10,0.50);
				}
				p{
					margin-top: 0px;
					text-shadow: 0px 2px 3px rgba(9,10,10,0.50);
					a{
						color: $brandColor;
					}
				}
				button{
					background: $brandColor;
					padding: 10px 50px;
					a{
						color: white;
					}
					@include media($tablet) {
						width: 100%;
					}
				}
				&:after{
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: rgba(56, 56, 56, 0.4);
				}
				section{
					position: relative;
					width: 100%;
					height: 100%;
					padding: 0 20px;
					z-index: 10;
				}
			}
		}
	}
}

#search-results{
	h2{
		margin-top: 0;
		margin-bottom: 10px;
		color: $darkCopy;
		
	}
	h1{
		font-size: 1rem;
	}
	.postBottom{
		padding: 0;
		.recentPostContent{
			padding: 0;
		}
	}
}

#mainSelection{
	display: flex;
	flex-wrap: wrap;
	#miniblogi{
		position: relative;
		align-items: stretch;
		@include span-columns(8);
		display: flex;
		flex-direction: column;
		background: white;
		@include media($tablet) {
			@include span-columns(12);
			margin-bottom: 20px;
		}
		#miniblogContainer{
			position: relative;
			#miniblogContent{
				position: relative;
				z-index: 20;
				padding: 20px;
			}
			h1{
				margin: 0;
				@extend.bree;
				font-weight: bold;
				font-size: 3rem;
				line-height: 50px;
				color: $darkCopy;
				a{
					color: $brandColor;
					text-decoration: none;
				}
			}
			p{
				margin-top: 10px;
				margin-bottom: 0;
				@extend.lato-normal;
				color: $darkCopy;
				margin-bottom: 10px;
				@include media($tablet) {
					margin-bottom: 10px;	
				}

			}
			#miniblogContentImage{
				position: relative;
				#detailsBlogType{
					position: absolute;
					display: flex;
					justify-content: center;
					align-content: center;
					align-items: center;
					width: 100%;
					height: 100%;
					padding: 20px;
					#detailsBlogTypeItem{
						text-align: center;
						h3{
							@extend.montserrat;
							font-weight: bold;
							font-size: 5rem;
							margin: 0;
							color: white;
							text-shadow: 0px 10px 23px rgba(0, 0, 0, 0.35);
						}
						p{
							color: white;
							font-size: 2rem;
							margin: 0;
							color: white;
							text-shadow: 0px 10px 23px rgba(0, 0, 0, 0.35);
						}
					}
				}
				img{
					width: 100%;
				}
			}
		}
	}
	#aboutBlogger{
		position: relative;
		height: 100%;
		@include span-columns(4);
		display:flex;
		flex: 1;
		flex-direction: column;
		min-height:100%;
		@include media($tablet) {
			@include span-columns(12);	
		}
		img{
			width: 100%;
			height: 100%;
		}
		h3{
			margin: 0;
			@extend.bree;
			font-weight: bold;
			font-size: 1.5rem;
			line-height: 50px;
			color: $darkCopy;
		}
		h5{
			margin-top: 5px;
			margin-bottom: 5px;
			@extend.lato-normal;
			font-style: italic;
			font-size: 1rem;
			color: #717171;
			@include media($tablet) {
				margin-bottom: 10px;	
			}
		}
		p{
			margin-top: 5px;
			margin-bottom: 10px;
			@extend.lato-normal;
			font-size: 1rem;
			color: $darkCopy;
			a{
				color: $brandColor;
				text-decoration: none;
			}
		}
	}
}

@import "partials/nav";
@import "partials/info-details";
@import "partials/frontpage-post";
@import "partials/post";
@import "partials/tags";
@import "partials/footer";
@import "jquery.offcanvas";