@charset "utf-8";

// Import partials 
@import "bourbon/bourbon";
@import "neat/neat";
@import "normalize";


// Variables
$brandColor:			#cb4b1e;
$brandColorDark:	#a83612;
$darkCopy:				#43413f;
$lightCopy: 			#696765;
$beige:						#FBF9F0;

$mobile: 	new-breakpoint(max-width 30em);
$mobileM: new-breakpoint(max-width 375px);
$mobileL: new-breakpoint(max-width 425px);
$tablet: 	new-breakpoint(max-width 48em);
$laptop: 	new-breakpoint(max-width 1024px);

// Mixin
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import "partials/_typograpy";
@import "partials/_elements.scss";

section{
	@include outer-container;
	padding: 10px;
}


body{
	background: $beige;
	transform-style: preserve-3d;
}

a{
	text-decoration: none;
}

*:focus {
    outline: none;
}


.fullwidth{
	img{
		width: 100%;
		height: 100%;
	}
}

.halfwidth{
	display: flex;
	img{
		flex: 1;
		width: 50%;
		height: 100%;
	}
}

#welcomeHeader{
	min-height: 250px;
	background: url(../images/blog-post/taytetyt-tomaatit/taytetyt-tomaatit-blogpost-19.jpg) no-repeat;
	background-size: 100%;
	background-position: center center;
	background-size: cover;
	@include media($tablet) {
		min-height: 150px;
	}
	#welcomeHeaderContainer{
		display: flex;
		justify-content: center;
		align-content: center;	
		align-items: center;
		min-height: 250px;
		text-align: center;
		@include media($tablet) {
			min-height: 150px;
		}
		h1{
			margin-bottom: 15px;
			line-height: 48px;
			font-weight: normal;
			color: white;
			@include media($tablet) {
				font-size: 1.3rem;	
				line-height: 22px;
			}
		}
		h3{
			width: 60%;
			margin: 0 auto;
			color: white;
			word-break: break-word;
			@include CircularStd-BookItalic;
			@include media($tablet) {
				width: 80%;
				font-size: 0.9rem;
			}
		}
	}
}


button{
	background: $brandColor;
	border: none;
	padding: 10px;
	color: white;
	@extend.montserrat;
	
	text-transform: uppercase;
}

.scotch-panel-wrapper{
	transform-style: preserve-3d;
}

form{
	label{
		display: block;
		width: 100%;
		margin: 5px 0px;
		color: $darkCopy;
		@extend.lato-normal;
	}
	input{
		width: 100%;
		margin: 5px 0px;
		padding: 5px 10px;
		border: none;
		line-height: 30px;
		color: $darkCopy;
		@extend.lato-normal;
	}
	textarea{
		width: 100%;
		height: 120px;
		margin: 5px 0px;
		padding: 5px 10px;
		border: none;
	}
	.button{
		background: $brandColor;
		color: white;
	}
}

[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}

.notifyBox{
	width: 100%;
	background: $brandColor;
	color: white;
	padding: 10px 10px;
	left: 0;
	top: 0;
	margin: 0;
	text-align: center;
	button{
		border-radius: 20px;
		padding: 5px 10px;
	}
	h4{
		margin-top: 0;
		margin-bottom: 5px;
		color: white;
		@extend.montserrat;
	}
	p{
		@extend.lato-normal;
		margin-top: 0;
		margin-bottom: 5px;
	}
}

.socialContainer {
    margin: 0;
    padding: 0;
    column-gap: 1em;
    font-size: .85em;
	column-count: 4;  
   	@include media($tablet) {
	   	column-count: 2;   
	}   
}

.socialFeedItem {
    display: inline-block;
    background: #fff;
    padding: 10px;
    margin: 5px 0px;
    width: 100%;
    box-sizing: border-box;
    .socialFeedHeader{
	    display: flex;
	    align-content: center;
	    align-items: center;
	    .socialFeedHeaderMedia{
		    span{
			    width: 20px;
				height: 20px;
				display: block;
				&.mediaIconinstagram{
					background: url('../../images/icons/socials/instagram-icon-color.svg') no-repeat;
					background-size: auto 100%;
					background-position: center center;	
				}
				&.mediaIcontwitter{
					background: url('../../images/icons/socials/twitter-icon-color.svg') no-repeat;
					background-size: auto 100%;
					background-position: center center;	
				}
		    }
	    }
	    .socialFeedHeaderName{
		    flex: 1;
		    padding-left: 10px;
		    a{
			    color: $brandColor;
		    }
		    h2{
			    margin-top: 0;
			    margin-bottom: 0;
			    font-size: 0.9rem;
			    @extend.montserrat;
		    }
		    p{
			   	margin-top: 2px;
			    margin-bottom: 0;
			    font-size: 0.6rem;
			    @extend.lato-normal;
			    color: $darkCopy;
		    }
	    }
	    .socialFeedHeaderProfile{
		    a{
				display: block;
				width: 30px;
				height: 30px; 
				overflow: hidden;
			   	border-radius: 100px;
		    }
		    img{
			    width: 30px;
			    height: 30px;
		    }
	    }
    }
    img{
	    width: 100%;
    }
    .socialFeedContent{
	    p{
		    color: $darkCopy;
			font-size: 0.8rem;
			@extend.montserrat; 
			word-break: break-all; 
			a{
				color: $brandColor;	
				word-break: break-all;
			}
	    }
    }
}

.contentBlockWhite{
	padding: 20px 20px;
	background: white;
}

.contentBlockTrasparent{
	padding: 20px 20px;
}

/* scroller */
.scroller{
	width:100%;
	height: 100px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin: 10px 0px;
}
.scroller-content{
	position: absolute;
	height: 100px;
	white-space: nowrap;
	word-spacing: 0;
	z-index:3;
	transform: translateZ(0px);
	.item{
		min-width: 160px;
		display:inline-block;
		overflow: hidden;
		position: relative;
		font-size:0;
		backface-visibility:hidden;
		transform: translateZ(0px);
		position: relative;
		cursor:pointer;
		text-align: center;
		font-size: 24px;
		h2{
			margin-top: 0;
			margin-bottom: 0;	
		}
	}
	span{
	  color:#666666;
	  font-size: 16px;
	}
}

.sponsorsBg{
	position: relative;
	width: 100%;
	background: $brandColor;
	color: white;
	section{
		padding: 5px 10px;
	}
	.scroller{
		height: 40px;
		margin: 0px;
	}
	.scroller-content{
		height: 40px;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		.item{
			text-align: left;
			min-width: 0px;
			padding-right: 10px;
			h4{
				display: inline-block;
				color: white;
				border-bottom: solid 2px rgba(255, 255, 255, 0);
			}
		}
		.active{
			h2{
				border-bottom: solid 2px white;
			}
		}
	}
	#sponsorLinks{
		#sponsorLinksContent{
			display: flex;
			padding: 0 10px;
			justify-content: space-between;	
			align-content: center;
			align-items: center;
		}
	}
	.sectionHeader{
		margin-top: 10px;
		font-size: 0.8rem;
		font-weight: normal;
		a{
			color: white;
			padding-bottom: 2px;
			&:hover{
				border-bottom: solid 2px white;
			}
		}	
	}
	.sponsors{
		position: relative;
		z-index: 10;
		p{
			max-width: 600px;
			@extend.lato-bold;
		}
		ul{
			margin: 0;
			padding: 0;
			li{
				display: flex!important;
				align-content: flex-start;
				align-items: center;
				min-height: 400px;
				h1{
					margin-bottom: 5px;
					text-shadow: 0px 2px 3px rgba(9,10,10,0.50);
				}
				p{
					margin-top: 0px;
					text-shadow: 0px 2px 3px rgba(9,10,10,0.50);
					a{
						text-decoration: underline;
						color: white;
					}
				}
				button{
					background: $brandColor;
					padding: 10px 50px;
					a{
						color: white;
					}
					@include media($tablet) {
						width: 100%;
					}
				}
				&:after{
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: rgba(56, 56, 56, 0.4);
				}
				section{
					position: relative;
					width: 100%;
					height: 100%;
					padding: 0 20px;
					z-index: 10;
				}
			}
		}
	}
}

#search-results{
	h2{
		margin-top: 0;
		margin-bottom: 10px;
		color: $darkCopy;
	}
	h1{
		font-size: 1rem;
	}
	.postBottom{
		padding: 0;
		.recentPostContent{
			padding: 0;
		}
	}
}


#mainSelection{
	display: flex;
	flex-wrap: wrap;
	
	#aboutBlogger{
		position: relative;
		height: 100%;
		@include span-columns(4);
		display:flex;
		flex: 1;
		flex-direction: column;
		min-height:100%;
		@include media($tablet) {
			@include span-columns(12);	
		}
	}

	#aboutBloggerContainer {
		position: relative;
		overflow: hidden;
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: $brandColor;
		img{
			max-width: 100%;
			max-height: 180px;
			vertical-align: top;	
		}
		figcaption{
			width: 100%;
			background-color: $brandColor;
			padding: 25px;
			position: relative;	
			color: white;
			&:before {
				position: absolute;
				content: '';
				bottom: 100%;
				left: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 55px 0 0 400px;
				border-color: transparent transparent transparent $brandColor;
			}
			.profile {
				border-radius: 50%;
				position: absolute;
				bottom: 100%;
				left: 25px;
				max-width: 170px;
			}
			h3{
				margin-bottom: 5px;
			}
			h4{
				display: block;
				border-bottom: solid 1px white;
				padding-bottom: 10px;
			}
			p{
			}
		}	
	}
}

.scrollerBlog{
	white-space: normal;
	position: relative;
	display: flex;
	word-wrap: break-word;
	padding-right: 20px;
	.scrollerBlogItem{
		display: flex;
		justify-content: space-around;
	}
	.scrollerBlogItemImage{
		img{
			width: 170px;
			height: 100%;
		}
	}
	.scrollerBlogItemContent{
		flex: 0 0 230px;
		width: 200px;
		text-align: left;
		padding: 0 10px;
		p{margin: 0px;}
		.date{
			color: $lightCopy;
		  margin-bottom: 5px;
		}
		section{
			width: 100%;
			margin: 0;
			padding: 0;
			p{
				font-size: 0.8rem;
				line-height: 14px;
				color: $darkCopy;
				&.date{
					color: $lightCopy;
					margin: 5px 0px;
				}
			}
		}
	}
}

@import "partials/nav";
@import "partials/info-details";
@import "partials/frontpage-post";
@import "partials/post";
@import "partials/tags";
@import "partials/footer";
@import "jquery.offcanvas";