---
layout: default
comments: true
---

<div class="postHeadContainer" style="background: url('{{page.fullsize}}') no-repeat; background-size: cover; background-position: center center;">
	<section>
		<div class="postHeading">
			<h1 class="post-title black">{{ page.title }}</h1>
			<h4 class="sub-title medium">{{ page.subtitle }}</h4>
		</div>
	</section>
</div>

<div class="blogContainer">
	<div class="blogContent">
		{% if page.teaser %}
		<section class="teaser">
			<p>
				{{ page.teaser }}
			</p>
		</section>
		{% else %}
			
		{% endif %}
		{{ content }}
	</div>	
</div>

<div class="postContainer">
	<section>
	<div class="postContent" id="recipe">
		
		<span id="disqus">
			<div id="disqus_thread"></div>
			<script>
			(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			
			s.src = '//maukastafi.disqus.com/embed.js';
			
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript>Please enable JavaScript to view the 
			<a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
			</noscript>
		</span>
	</div>	
	</section>
</div>

<section>
	<div id="newestPostContainer" class="contentBlock">
		<div id="newestPostGrid">
			{% for post in site.related_posts limit:3 %}
			<div class="newestPostGridItem">
				<div class="recentPostCotainer">
					<div class="recentPostImage">
						<a href="{{ post.url | prepend: site.baseurl }}"><img src="{{ post.gategorythumbnail }}" /></a>
					</div>
					<div class="recentPostContent">
						<a href="{{ post.url | prepend: site.baseurl }}"><h4 class="black">{{ post.title | truncate: 80  }}</h4></a>
						<h5 class="date">{{ post.date | date: "%d.%m.%Y" }}</h5>
						<p class="teaser">{{post.teaser | truncate: 120 }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>