---
layout: default
---
<section>
	<h2>{{ page.tag }}</h2>
	{% for post in page.posts %}
	<a href="{{ post.url | prepend: site.baseurl }}">
	<div class="recentPostCotainer">
		<div class="recentPostImage">
			<img src="{{ post.image }}" />
		</div>
		<div class="recentPostContent">
			<h1>{{ post.title}}</h1>
			<p class="date">{{ post.date | date: "%b %-d, %Y" }}</p>
			<p class="teaser">{{post.teaser | truncate: 200 }}</p>
		</div>
	</div>
	</a>
	{% endfor %}
	
	<div id="tag-cloud">
	  {{ site | tag_cloud }}
	</div>
</section>
